/* Código para aparelhos até 400px*/

@media only screen and (max-width:400px) {

    body {
        border: 1px solid blue;
        background-color: blueviolet;
        width: 100%;
        height: 100%;
    }

    h2 {
        font-size:30px;
        margin-top: 15%;
        text-align: center;
        color: rgb(225, 224, 230);
    }

    h3{
        text-align: center;
        margin-top: 5%;
        padding-bottom: 5%;
        color: aliceblue;
    }

    img {
        margin-left: 38%;
        padding-bottom: 5%;
        width: 30%;
        height: 30%;
    }

    
}
/* Para aparelhos até 750px*/

@media only screen  and (min-width:401px) and (max-width:751px) {
    body {
        background-color: yellow;
        width: 100%;
        height: 100%;
        border: 1px solid red;
    }

    h2 {
        font-size:30px;
        margin-top: 8%;
        text-align: center;
        color:black;
    }

    h3{
        text-align: center;
        margin-top: 5%;
        padding-bottom: 5%;
        color: black;
    }

    img {
        margin-left: 38%;
        padding-bottom: 5%;
        width: 30%;
        height: 30%;
    }
    
}
/*Para aparelhos até 900px*/

@media only screen and (min-width:751px) and (max-width: 900px) {
    body {
        display: flex;
        position: relative;
        background-color: #0000FF;
        border: 1px solid white;
        width: 100%;
        height: 100%;
    }
    h2 {
        font-size:50px;
        margin-top: 8%;
        margin-left:-48%;
        color:white;
    }

    h3{
        text-align: center;
        margin-top: 25%;
        padding-bottom: 5%;
        color:white;
        margin-right: 3%;
    }

    img {
        margin-left: -6.5%;
        margin-top: -5%;
        width: 15%;
        height: 20%;
    }
    #txtDashboard {
        margin-left: -90%;
        font-size: 30px;
    }
    .financeiro {
        margin-left: 7%;
        margin-top: -15%;
    }
    
    
    #financeiro {
        margin-left: 2%;
    }
    
    
    
    .cadastroProduto {
        width: 1500px;
        height: 1500px;
        margin-left: 75%;
        margin-top: -16%;
    }
    #cadastrarProduto {
        font-size: 30px;
    }
    
    .aberturaCaixa {
       
        margin-left: 26%;
        margin-top:-147%;
    
    }
    
    #txtAbrirCaixa {
        margin-left: -95%;
        margin-top:23%;
        font-size: 35px;
    }

    #aberturaCaixa {
        width:110%;
        padding-top:1%
    }
    
   

}

/*Para desktop*/
@media only screen and (min-width:800px) and (max-width:1280px){
body {
    
    display: inline;

    background-color: #0000FF;
    width: 300%;
    height: 100%;
   
}



h2 {
   
    margin-top: 5%;
    margin-left: 19%;
    font-size: 50px;
    color: blanchedalmond;
}
h3 {
    color: blanchedalmond;
}

img {
   
    width: 15%;
    height: 15%;
}


#txtDashboard {
    margin-left: 5%;
    font-size: 30px;
}
.financeiro {
    margin-left: 7%;
    margin-top: 5%;
}


#financeiro {
    margin-left: 2%;
}



.cadastroProduto {
    width: 1500px;
    height: 1500px;
    margin-left: 75%;
    margin-top: -16%;
}
#cadastrarProduto {
    font-size: 30px;
}

.aberturaCaixa {
   
    margin-left: 45%;
    margin-top:-99%;

}

#txtAbrirCaixa {

    font-size: 35px;

   
    
 
}

#aberturaCaixa {
    width: 1470px;
    height: 1470px;
  
}
}




