body{
    width: 100%;
    background-color: #0000FF;
 
   
}


#cabecalho {
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
    color: bisque;
}

section.login{
    width: 55%;
    height: 450px;
    border: 2px bisque solid;
    margin-left: 23%;
    margin-top: 3%;
}

#usuario {

    text-align: center;
   
    width: 50%;
    border: #0000FF 1px solid;
    margin-left: 24%;
    margin-top: 1%;
}

#senha {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 50%;
    border: #0000FF 1px solid;
    margin-left: 24%;
    margin-top: 6%;
}

input{
    justify-content: center;
    justify-items: center;
    width: 30px;
    height: 35px;
}

#btnLogin {
    position: relative;
    width: 50%;
    height: 65px;
    margin-left: 24%;
    margin-top: 8%;
    background-color: rgb(127, 132, 173);
    color:#f9f9fa;
    font-weight: bold;
    font-size: 20px;
}

.digitarUsuario {
    text-align: center;
    font-size: 25px;
    
    color: bisque;
}

.digitarSenha {
    text-align: center;
    font-size: 25px;
    padding-top: 3%;
    color: bisque;
}

h3#txtCadastrar{
    padding-top: 1%;
    padding-left: 63%;
    color: bisque;
}




@media screen and (min-width: 401px) and (max-width: 700px) {

    #cabecalho {
        margin-top: 10%;      
        font-size: 54px
    }

    .digitarUsuario {
        
        font-size: 35px;
        margin-top: 10%;
        
      
    }

    #usuario {
        width:550px;
        margin-left: -80px;
    }
    
    .digitarSenha {
        font-size:35px;
        margin-top:10%;
      
    } 
    
    #senha {

        width:550px;
        margin-left: -80px; 
    }

    #btnLogin {
        width:550px;
        margin-top: 25%;
        margin-left:-80px;
        background-color: #afadbc;
        height: 60px;
    }
    #txtCadastrar {
        margin-top:15%;
        font-size: 42px;
        
    }  
}

@media only screen and (max-width:400px) {


    #cabecalho {
        color:black;
        font-size: 34px
    }
    
    .digitarUsuario {
        margin: 15% auto;
        color: black;
    }
    
    #usuario {
        width:250px;
        margin-left: -20px;
    }
    .digitarSenha {
        
        margin: 15% auto;
        color:black;
    }
    #senha {
        width:250px;
        margin-left: -20px; 
    }
    #btnLogin {
        width:250px;
        margin-top: 25%;
        margin-left:-20px;
        background-color: #afadbc;
    }
    #txtCadastrar {
        margin-top:15%;
        font-size: 24px;
        
    }  
        
    }