body{
    width: 100%;
    background-color: #111135;
 
   
}



#cabecalho {
    
    text-align: center;
    margin-top: 2%;
    font-size: 50px;
    color:white;
}


#usuario {

    text-align: center;
    width: 50%;
    border: #0000FF 1px solid;
    margin-left: 24%;
    margin-top: 1%;
    padding: 0.5%;
}

#senha {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 50%;
    border: #0000FF 1px solid;
    margin-left: 24%;
    margin-top: 2%;
    padding: 0.5%;
}

input{
    justify-content: center;
    justify-items: center;
    width: 30px;
    height: 35px;

}

#btnLogin {
    position: relative;
    width: 51%;
    height: 65px;
    margin-left: 24%;
    margin-top: 5%;
 
    color:#0000FF;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.login {
    background-color: white;
}

.digitarUsuario {
    margin-top: 5%;
    text-align: center;
    font-size: 25px;
    color:white;
}

.digitarSenha {
    text-align: center;
    font-size: 25px;
    padding-top: 2%;
    color: white;
}

h3#txtCadastrar{
    padding-top: 1%;
    padding-left: 63%;
    color: bisque;
}

#cadastrar {
    font-size: 30px;
    color: white;
    padding-top: 2%;
    margin-left: 65%;
    cursor: pointer;
  
}


@media screen and (min-width:300px) and (max-width:450px) {
    body {
        background-color: #111135;
    } 
   
    
    #cabecalho {
        text-align: center;
        margin-top: 5%;
        font-size: 22px;
        color:white;
    }
   
    .digitarUsuario {
        font-size: 23px;
        margin-top:15%;
        
    } 

    #usuario {
        width: 80%;
        height: 40px;
        margin-left: 10%;
    }
    .digitarSenha {
        font-size: 23px;
      
    }

    #senha {
        width: 80%;
        height: 40px;
        margin-left: 10%;
    }

    #btnLogin {
        width: 80%;
        height: 50px;
        margin-left: 10%;
        margin-top: 20%;
    }

    #cadastrar {
        font-size: 16px;
    }

}

@media screen and (min-width: 451px) and (max-width:800px) {
    body {
        background-color: rebeccapurple;
    }
    #cabecalho {
        text-align: center;
        margin-top: 15%;
        font-size: 30px;
        color:white;
    }
    .digitarUsuario {
        font-size: 29px;
        margin-top:15%;
        
    } 
    #usuario {
        width: 90%;
        height: 40px;
        margin-left: 1%;
    }
    .digitarSenha {
        font-size: 29px;
      
    }
    #senha {
        width: 90%;
        height: 40px;
        margin-left: 1%;
    }
    #btnLogin {
        width: 90%;
        height: 50px;
        margin-left: 1%;
        margin-top: 20%;
    }

    #cadastrar {
        font-size: 25px;
    }
    
}

@media screen and (min-width:801px) and (max-width:1200px) {
    body {
        background-color: rgb(36, 41, 39);
    }
    #cabecalho {
        text-align: center;
        margin-top: 15%;
        font-size: 55px;
        color:white;
    }
    .digitarUsuario {
        font-size: 45px;
        margin-top:20%;
        
    } 
    #usuario {
        width: 90%;
        height: 70px;
        margin-left: 4%;
    }
    .digitarSenha {
        font-size: 45px;
      
    }
    #senha {
        width: 90%;
        height: 70px;
        margin-left: 4%;
    }
    #btnLogin {
        width: 90%;
        height: 70px;
        margin-left: 4%;
        margin-top: 20%;
    }

    #cadastrar {
        font-size: 50px;
    }
    
}





