*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color:#111135 ;
    width: 100%;
    
   
}
h2 {
   
    margin-top: 5%;
    text-align: center;
    font-size: 50px;
    color: blanchedalmond;
}
h3 {
    color: blanchedalmond;
}

img {
    
    width: 15%;
    
}


#txtDashboard {
    margin-left: 4%;
    font-size: 2.5rem;
}
.financeiro {
    margin-left: 6%;
    margin-top: 10%;
    cursor: pointer;
}


#financeiro {
    margin-left: 2%;
}
.cadastroProduto {
    width: 100%;
    margin-left: 43%; 
    margin-top: -18%;
    cursor: pointer;
    
}

#cadastroProduto {
    padding-top: 1%;
}

#txtCadastrarProduto {
    font-size: 2.5rem;
    margin-left: -2.5%;
}


.aberturaCaixa {
    margin-left: 73%;
    margin-top:-19%;
    cursor: pointer;

}
#txtAbrirCaixa {
    font-size: 2.5rem;
}

#aberturaCaixa {
    width: 210.5vh;
    
  
}
