* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: wheat;
}

#container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20vh 70vh 10vh;
  grid-template-areas:
    "h h"
    "m a" "f f";
}
header {
  background-color: blue;
  grid-area: h;
}

main {
  color: white;
  font-size: 2rem;
  background-color: #111135;
  grid-area: m;

  display: flex;

  padding: 5%;
  border-radius: 30px;
}

aside {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  font-size: 1.5rem;
  color: white;
  background-color: #111135;
  grid-area: a;
  padding: 15%;
  border-radius: 30px;
}

li {
  list-style-type: none;
}

footer {
  background-color: #111135;
  grid-area: f;
}
