* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111135;
}

#container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20vh 70vh 10vh;
  grid-template-areas:
    "h h"
    "m a" "f f";
}
header {
  background-color: #2e2e58;
  border-radius: 30px;
  border: 1px solid white;
  grid-area: h;
  margin-top: 1%;
}

main {
  color: white;
  font-size: 2rem;
  background-color: #2e2e58;
  width: 95%;
  height: 80%;
  margin-top: 5%;
  grid-area: m;
  border: 1px solid white;
  display: flex;

  padding: 2%;
  border-radius: 30px;
}

button {
  font-size: 1rem;
  margin-top: 350%;
  margin-left: -105%;
  height: 15%;
  width: 200%;
  background-color: #111135;
  color: white;
  transition: all ease 0.4s;
  cursor: pointer;
}
button:hover {
  background-color: #0000ff;
}

aside {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  font-size: 1.5rem;
  color: white;
  background-color: #2e2e58;
  margin-top: 14%;
  height: 80%;
  grid-area: a;
  padding: 12%;
  border-radius: 30px;
}

li {
  list-style-type: none;
  cursor: pointer;
}
li:hover {
  background-color: #0000ff;
}
footer {
  justify-content: center;
  display: flex;
  font-size: 1.5rem;
  background-color: #2e2e58;
  color: white;
  padding-top: 1%;
  grid-area: f;
  border-radius: 30px;
  border: 1px solid white;
  margin-bottom: 1%;
}

input {
  display: flex;
  height: 10%;
}
