/** {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #111135;
}

#pagar {
  font-size: 2rem;

  margin: 15% auto;

  width: 20%;
  height: 5rem;
  color: white;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
li {
  margin: 4%;
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: wheat;
}

#container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20vh 70vh 10vh;
  grid-template-areas:
    "h h"
    "m a" "f f";
}
header {
  background-color: blue;
  grid-area: h;
}

main {
  background-color: yellow;
  grid-area: m;
}

aside {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  font-size: 1.5rem;
  color: black;
  background-color: aqua;
  grid-area: a;
}

li {
  list-style-type: none;
}

footer {
  background-color: #111135;
  grid-area: f;
}
